@using SFA.DAS.FindEpao.Web.Infrastructure
@using SFA.DAS.FindEpao.Web.Models
@model CourseEpaoViewModel
@{
    ViewData["Title"] = Model.Epao.Name;
    ViewData["BackRouteName"] = RouteNames.CourseEpaos;
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl ">@Model.Epao.Name</h1>
            <p class="govuk-body govuk-!-margin-bottom-6">
                <span class="govuk-!-font-weight-bold">End-point assessment organisation for </span>
                <br> @Model.Course.Description
            </p>

            
           
            
        </div>
    </div>
</main>
