@using SFA.DAS.FindEpao.Web.Infrastructure
@using SFA.DAS.FindEpao.Web.Models
@model IntegratedApprenticeshipCourseViewModel
@{
    ViewData["Title"] = "Integrated Apprenticeship Course";
    ViewData["BackRouteName"] = RouteNames.ServiceStartDefault;
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                The training provider will carry out the end-point assessment
            </h1>
    
            <p class="govuk-body">@Model.Course.Description is an integrated apprenticeship. The end-point assessment for integrated apprenticeships is carried out by the training provider.</p>
            
            <p class="govuk-body">Contact the training provider to find out more about the assessment.</p>
        </div>
    </div>
</main>
