@using SFA.DAS.FindEpao.Web.Infrastructure
@{
    ViewData["Title"] = "This end-point assessment organisation is currently unavailable for the course";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">This end-point assessment organisation is currently unavailable for the course</h1>

            <button class="govuk-button" data-module="govuk-button">Find another end-point assessment organisation</button>

        </div>
    </div>
</main>